# Virtual environments
.venv/
env/
crime/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Generated outputs
outputs/

# OS
.DS_Store
Thumbs.db

# Logs
logs/

# Environment variables
.env
.env.local

# CSV files
*.csv
